<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- Servlets -->
    <!-- Connect and disconnect -->
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>controller.servlets.connection.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disconnection</servlet-name>
        <servlet-class>controller.servlets.connection.DisconnectionServlet</servlet-class>
    </servlet>

    <!-- Home -->
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.servlets.account.UserProfileServlet</servlet-class>
    </servlet>

    <!-- Contact and entities research -->
    <servlet>
        <servlet-name>Research</servlet-name>
        <servlet-class>controller.servlets.ResearchServlet</servlet-class>
    </servlet>

    <!-- Contacts -->
    <servlet>
        <servlet-name>SetSessionContactDisplayed</servlet-name>
        <servlet-class>controller.servlets.contact.AddContactSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>controller.servlets.contact.AddContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactProfile</servlet-name>
        <servlet-class>controller.servlets.contact.ContactProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveComment</servlet-name>
        <servlet-class>controller.servlets.contact.SaveCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyContact</servlet-name>
        <servlet-class>controller.servlets.contact.ModifyContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContact</servlet-name>
        <servlet-class>controller.servlets.contact.DeleteContactServlet</servlet-class>
    </servlet>

    <!-- Entity -->
    <servlet>
        <servlet-name>EntityProfile</servlet-name>
        <servlet-class>controller.servlets.entity.EntityProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEntity</servlet-name>
        <servlet-class>controller.servlets.entity.AddEntityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyEntity</servlet-name>
        <servlet-class>controller.servlets.entity.ModifyEntityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEntity</servlet-name>
        <servlet-class>controller.servlets.entity.DeleteEntityServlet</servlet-class>
    </servlet>

    <!-- Accounts and rights -->
    <servlet>
        <servlet-name>AccountHome</servlet-name>
        <servlet-class>controller.servlets.account.RightsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>controller.servlets.account.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountProfile</servlet-name>
        <servlet-class>controller.servlets.account.AccountProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyAccount</servlet-name>
        <servlet-class>controller.servlets.account.ModifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.servlets.account.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.servlets.account.ChangePasswordServlet</servlet-class>
    </servlet>

    <!-- Sectors -->
    <servlet>
        <servlet-name>SectorHome</servlet-name>
        <servlet-class>controller.servlets.sectors.SectorHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSector</servlet-name>
        <servlet-class>controller.servlets.sectors.AddSectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifySector</servlet-name>
        <servlet-class>controller.servlets.sectors.ModifySectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSector</servlet-name>
        <servlet-class>controller.servlets.sectors.DeleteSectorServlet</servlet-class>
    </servlet>

    <!-- Events -->
    <servlet>
        <servlet-name>EventsHome</servlet-name>
        <servlet-class>controller.servlets.events.EventsHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>controller.servlets.events.CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventProfile</servlet-name>
        <servlet-class>controller.servlets.events.EventProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyEvent</servlet-name>
        <servlet-class>controller.servlets.events.ModifyEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>controller.servlets.events.DeleteEventServlet</servlet-class>
    </servlet>


    <!-- Connect and disconnect -->
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disconnection</servlet-name>
        <url-pattern>/disconnect</url-pattern>
    </servlet-mapping>

    <!-- Home -->
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <!-- Contacts and entities research -->
    <servlet-mapping>
        <servlet-name>Research</servlet-name>
        <url-pattern>/research</url-pattern>
    </servlet-mapping>

    <!-- Contacts -->
    <servlet-mapping>
        <servlet-name>SetSessionContactDisplayed</servlet-name>
        <url-pattern>/research/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/addContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactProfile</servlet-name>
        <url-pattern>/research/contactProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveComment</servlet-name>
        <url-pattern>/research/contactProfile/saveComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyContact</servlet-name>
        <url-pattern>/research/contactProfile/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContact</servlet-name>
        <url-pattern>/research/contactProfile/delete</url-pattern>
    </servlet-mapping>

    <!-- Entity -->
    <servlet-mapping>
        <servlet-name>EntityProfile</servlet-name>
        <url-pattern>/research/entityProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEntity</servlet-name>
        <url-pattern>/addEntity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEntity</servlet-name>
        <url-pattern>/research/entityProfile/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEntity</servlet-name>
        <url-pattern>/research/entityProfile/delete</url-pattern>
    </servlet-mapping>

    <!-- Accounts and rights -->
    <servlet-mapping>
        <servlet-name>AccountHome</servlet-name>
        <url-pattern>/rights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/rights/account/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountProfile</servlet-name>
        <url-pattern>/rights/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyAccount</servlet-name>
        <url-pattern>/rights/account/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/rights/account/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/home/changePassword</url-pattern>
    </servlet-mapping>

    <!-- Sectors -->
    <servlet-mapping>
        <servlet-name>SectorHome</servlet-name>
        <url-pattern>/sectors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSector</servlet-name>
        <url-pattern>/sectors/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifySector</servlet-name>
        <url-pattern>/sectors/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSector</servlet-name>
        <url-pattern>/sectors/delete</url-pattern>
    </servlet-mapping>

    <!-- Events -->
    <servlet-mapping>
        <servlet-name>EventsHome</servlet-name>
        <url-pattern>/myEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/myEvents/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventProfile</servlet-name>
        <url-pattern>/myEvents/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEvent</servlet-name>
        <url-pattern>/myEvents/details/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/myEvents/details/delete</url-pattern>
    </servlet-mapping>



    <!-- Filters -->
    <!-- Default -->
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <!-- Rights -->
    <filter>
        <filter-name>CheckUserConnected</filter-name>
        <filter-class>controller.filters.UserConnectedFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckAlimentationRight</filter-name>
        <filter-class>controller.filters.UserAlimentationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckAdminRight</filter-name>
        <filter-class>controller.filters.UserAdminFilter</filter-class>
    </filter>


    <!-- Default -->
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Rights -->
    <filter-mapping>
        <filter-name>CheckUserConnected</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAlimentationRight</filter-name>
        <url-pattern>/addContact</url-pattern>
        <url-pattern>/research/contactProfile/modify</url-pattern>
        <url-pattern>/research/contactProfile/delete</url-pattern>
        <url-pattern>/addEntity</url-pattern>
        <url-pattern>/research/entityProfile/modify</url-pattern>
        <url-pattern>/research/entityProfile/delete</url-pattern>
        <url-pattern>/importContacts</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAdminRight</filter-name>
        <url-pattern>/rights</url-pattern>
        <url-pattern>/rights/*</url-pattern>
        <url-pattern>/sectors</url-pattern>
        <url-pattern>/sectors/*</url-pattern>
        <url-pattern>/exportContacts</url-pattern>
    </filter-mapping>
</web-app>